
<div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-bar-chart' ></i>
      <span class="logo_name">Analizy</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="{% url 'home' %}" class={{home}}>
          <i class='bx bx-diamond'></i>
            <span class="links_name">INDEXY USA</span>
          </a>
        </li>
        <li>
          <a href="{% url 'WIG20' %}" class={{WIG20}}>
            <i class='bx bx-handicap'></i>
            <span class="links_name">WIG20</span>
          </a>
        </li>
        <li>
          <a href="#" class="{{GPW}}">
            <i class='bx bx-accessibility'></i>
            <span class="links_name">GPW</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bxs-radiation'></i>
            <span class="links_name">New Connect</span>
          </a>
        </li>
            <li>
          <a href="#">
            <i class='bx bx-dollar'></i>
            <span class="links_name">Crypto</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Sektory</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="links_name">Team</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-message' ></i>
            <span class="links_name">Messages</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Favrorites</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>